html {
    margin: 0.2em 0 0.2em 4%;
    max-width: 7000px; 
    font-family: 'Martel', serif;
}

h1 {
    font-size: 3.6vmin;
    margin-bottom: 1.8%;
}

img {
    max-width: 60%;
    height: 33.75%;
    padding: 0.2vw;
    border: 0.45vw double #054e3c;
    border-radius: 15px 50px 30px; 
}

h3.profile {
    font-size: 3.35vmin;
    margin-bottom: 0;
}

.bio {
    font-size: 2.9vmin;
    margin: 0.2% 2% 0.1% auto;
    display: inline-block;
    padding: 0.05vw 0.5vw;
    border-radius: 0.5em;
    border: 0.2em double #ffffff;
}

p span:hover,
p span:focus {
    color: white;
    transition: all 0.6s ease-in-out;
}

/* TO ADD: loading bars for et c. et c.*/
.bio:hover,
.bio:focus {
    color: #100e0e;
    background: goldenrod;
    border: 0.2em double #000000;
    transition: all 0.65s ease-in-out;
}

.links {
    font-size: 2.9vmin;
    margin-bottom: 0.5%;
}

.socials a {
    font-size: 2.8vmin;
    margin-right: 0.3%;
    border-radius: 0.5em;
    padding: 0.2% 0.29%;
    border: 0.2em double #054e3c;
}

div.socials {
    font-size: 1vmax;
}

a:link {
    color: #000000;
} /*unvisited link*/
a:visited {
    color: #100e0e;
} /*visited link*/

/*TO ADD: site logos on hover to replace text*/
div.socials a:hover,
div.socials a:focus {
    color: goldenrod;
    background: #161616;
    border: 0.2em double #ffffff;
    transition: all 0.5s;
}

/*

PSEUDO CLASS switch COPY

.bio:hover,
.bio:focus {
    color: #100e0e;
    background: goldenrod;
    transition: all 0.65s ease-in-out;
}

*/