html {
    margin: 0.2em 0 0.2em 4%;
    max-width: 7000px; 
    font-family: 'Martel', serif;
}

h1 {
    font-size: 3.6vmin;
    margin-bottom: 1.8%;
}

img {
    max-width: 60%;
    height: 33.75%;
}

h3.profile {
    font-size: 3.35vmin;
    margin-bottom: 0;
}

.bio {
    font-size: 2.9vmin;
    padding: 1px 1px;
    margin: 0.2% auto 0.1% auto;
    display: inline-block;
}

p span:hover,
p span:focus {
    color: white;
    transition: all 0.6s ease-in-out;
}

.bio:hover,
.bio:focus {
    color: goldenrod;
    background: #100e0e;
    transition: all 0.65s ease-in-out;
}

.links {
    font-size: 2.9vmin;
    margin-bottom: 0.5%;
}

.socials a {
    font-size: 2.8vmin;
    margin-right: 0.7%;
    padding: 0.1%;
}

div.socials {
    font-size: 1vmax;
}

a:link {
    color: #000000;
} /*unvisited link*/
a:visited {
    color: #100e0e;
} /*visited link*/

div.socials a:hover,
div.socials a:focus {
    color: goldenrod;
    background: #000000;
    transition: all 0.5s;
}

/*
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
*/